.root {
    margin: 10% 5% 0 8%;
  }
  .row {
    margin-bottom: 3%;
  }
  .cover {
    border-radius: 10px;
    margin-right: 20px;
    float: left;
    height: 80px;
    width: 80px;
  }

  @media only screen and (max-width: 800px){
    .root {
      margin-top: 30%;
    }
  }